/* :root {
	--red: #dd1c1a;
	--dark: #b57ba6;
	--yellow: #364652;
	--light: #ffffff;
	--lBlue: #b5bec6;
	--yellowL: #709775;
	--redL: #c90f0d;
	--blue: #c7dbe6;
	--blueL: #3c6e71;
    	#011627
		#f0c808
	--fFamily: 'Poppins', sans-serif;
	--darkShadowSm: 4px 4px 15px rgba(211, 211, 211, 0.158);
	--darkShadowLg: 2px 2px 10px rgba(211, 211, 211, 0.158);
} */

:root {
	--red: #dd1c1a;
	--dark: #0f0f0f;
	--yellow: #91f5ad;
	--light: #dfdfdf;
	--lBlue: #bfcde0;
	--yellowL: #9074d2;
	--redL: #c90f0d;
	--blue: #5838a8;
	--blueL: #5838a8;
	--fFamily: 'Poppins', sans-serif;
	--darkShadowSm: 4px 4px 15px rgba(211, 211, 211, 0.158);
	--darkShadowLg: 2px 2px 10px rgba(211, 211, 211, 0.158);
	--lightShadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

body.dark {
	background-color: var(--light);
	color: var(--dark);
}

body.dark a {
	color: var(--dark);
}
body.dark .title {
	color: var(--blueL);
}

/* Navbar CSS */
body.dark .navbar .navTheme {
	color: var(--light);
}
body.dark .navbar .navTheme:hover {
	color: var(--yellowL);
}

body.dark .navbar .navLinks .navLink:hover {
	color: var(--yellowL);
}
body.dark .navbar .navLinks .navLink {
	color: var(--light);
}

/* Theme Button CSS */
body.dark .themeLight {
	/* display: none; */
	position: fixed;
	bottom: 48px;
	left: 25px;
	cursor: pointer;
	color: #5838a8;
	z-index: 99;
}

/* body.dark .hero .heroImg img {
	 border: 5px solid rgb(19, 18, 18);  */

body.dark .hero .heroBtns .btn {
	background-color: var(--yellowL);
	color: var(--dark);
}

body.dark .hero .heroBtns .btnSec {
	border: 2px solid var(--yellowL);
	color: var(--dark);
}

body.dark .hero .heroBtns .btnSec:hover {
	background-color: var(--yellowL);
	color: var(--dark);
}
/* About Section */
body.dark .about .aboutContent a {
	color: var(--blueL);
	transition: all 200ms;
}

body.dark .about .aboutContent a:hover {
	color: var(--yellowL);
}

body.dark .about .abtBtn {
	border: 2px solid var(--yellowL);
	color: var(--dark);
}

body.dark .about .abtBtn:hover {
	background-color: var(--yellowL);
	color: var(--dark);
}

/* Skills */
body.dark .skills .cardRow .card {
	box-shadow: var(--lightShadow);
}
body.dark .skills .cardRow .card .cardIcons .material-icons {
	font-size: 64px;
	color: var(--yellowL);
}

body.dark .skills .cardRow .card .cardContentLg {
	background-color: var(--yellowL);
	color: var(--dark);
}

/* Projects CSS */
body.dark .projects .cardRow .card img {
	box-shadow: var(--lightShadow);
}
body.dark .projects .cardRow .card:hover img {
	box-shadow: 2px 2px 25px #5838a84c;
}

body.dark .contact .iconRow .icon:hover {
	color: var(--yellowL);
}
@media screen and (max-width: 860px) {
	body.dark .themeLight:hover {
		color: var(--lBlue);
	}

	body.dark .skills .cardRow .card .cardContentSm {
		background-color: var(--yellowL);
		color: var(--dark);
	}
}
